<footer id="anchor-footer" class="footer">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque error obcaecati at dignissimos iusto natus aperiam. Optio cupiditate maiores fuga.
</footer>