<header class="header">
    <div class="header__wrapper js-fixed compensate-for-scrollbar">
        <div class="container container--big">
            <div class="header__row">
                <a href="#" class="header__logo">
                    
                </a>
                <button type="button" class="burger" data-init="1023">

                </button>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__link">
                            <a href="#anchor-test" class="js-to-block">Как арендовать самокат</a>
                        </li>
                        <li class="menu__link">
                            <a href="#form" class="js-to-block">Как арендовать самокат</a>
                        </li>
                        <li class="menu__link">
                            <a href="template.html#anchor-test" target="_blank">Катайтесь с Плюсом</a>
                        </li>
                        <li class="menu__link">
                            <a href="#">Катайтесь аккуратно</a>
                        </li>
                        <li class="menu__link">
                            <a href="#">Где самокаты?</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="header__btn btn btn--header js-btn-effect">
                    <span>Скачать</span>
                    <i></i>
                </a>
            </div>
        </div>
    </div>
</header>