<header class="header js-header">
  <div class="header__wrapper js-fixed compensate-for-scrollbar">
    <div class="container">
      <div class="header__row">
        <a href="#anchor-wrapper" class="header__logo">
          Logo
        </a>
        <button type="button" class="burger js-burger" data-init="1023">

        </button>
        <nav class="menu js-menu">
          <ul class="menu__list">
            <li class="menu__link">
              <a href="#anchor-tabs" class="js-to-block">Табы</a>
            </li>
            <li class="menu__link">
              <a href="#anchor-form" class="js-to-block">Форма</a>
            </li>
            <li class="menu__link">
              <a href="#anchor-footer" class="js-to-block">Футер</a>
            </li>
            <li class="menu__link">
              <a href="template.html#anchor-tabs" target="_blank">Триггер на новую страницу до блока табов</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="header__btn btn btn--header js-btn-effect">
          <span>Скачать</span>
          <i></i>
        </a>
      </div>
    </div>
  </div>
</header>