<div id="popup-1" class="popup-template">
  <div class="popup-template__content">
    <h2>
      popup-1
    </h2>
    <a href="#popup-2" class="btn js-popup-trigger" data-fancybox="popup-2">popup-2</a>
  </div>
</div>
<div id="popup-2" class="popup-template">
  <div class="popup-template__content">
    <h2>
      popup-2
    </h2>
  </div>
</div>