<div class="popup popup_template">
	<div class="popup__body">
		<div class="popup__content">
			<a href="" class="popup__close close-popup">
				<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="popup__close-icon"
						d="M29.1215 1.28976L15.8844 14.5268L28.7821 27.4244L27.4244 28.7821L14.5268 15.8844L1.28976 29.1215L0 27.8317L13.237 14.5947L0.271531 1.62918L1.62918 0.27153L14.5947 13.237L27.8317 0L29.1215 1.28976Z"
						fill="black" />
				</svg>
			</a>
            <div class="popup-template">
                <div class="popup-template__icon">
                    <img src="content/message-icon.svg" alt="">
                </div>
                <div class="popup-template__title">
                    
                </div>
                <div class="popup-template__text">
    
                </div>
            </div>
		</div>
	</div>
</div>