<div id="popup-1" class="popup-template">
    <div class="popup-template__content">
        <h2>
            popup-1
        </h2>
        <button type="button" data-popup data-src="#popup-2" data-fancybox="popupThree" onclick="Fancybox.close()">
            Open popup 2
        </button>
    </div>
</div>
<div id="popup-2" class="popup-template">
    <div class="popup-template__content">
        <h2>
            popup-2
        </h2>
    </div>
</div>