{% extends "layouts/_default.njk" %}

{# {% set breadCrumbs = [{
    name: 'Главная',
    link: '#'
}, {
    name: 'О компании',
    link: '#'
}] %} #}

{% block content %}

    <div class="container">
        <section class="js-first-screen js-padding">
            Пример отступа от шапки
        </section>
        <section class="spollers js-spollers">
            <div class="spollers__item">
                <div class="spollers__trigger js-spoller">Спойлер простой скрытый</div>
                <div style="display: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, voluptatem.</div>
            </div>
            <div class="spollers__item">
                <div class="spollers__trigger js-spoller">Спойлер простой открытый</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, voluptatem.</div>
            </div>
            <div class="spollers__item">
                <div class="spollers__trigger js-spoller" data-max="1024">Спойлер простой инитится на 1024пх</div>
                <div style="display: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, voluptatem.</div>
            </div>
        </section>
        <section class="spollers js-spollers _one">
            <div class="spollers__item">
                <div class="spollers__trigger js-spoller">Спойлер простой скрытый только один для показа</div>
                <div style="display: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, voluptatem.</div>
            </div>
            <div class="spollers__item">
                <div class="spollers__trigger js-spoller">Спойлер простой скрытый только один для показа</div>
                <div style="display: none;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, voluptatem.</div>
            </div>
        </section>
        <section class="js-tabs">
            <div class="js-tabs__trigger">tab-1</div>
            <div class="js-tabs__trigger _open">tab-2</div>
            <div class="js-tabs__trigger">tab-3</div>
            <div class="js-tabs__block">1-block</div>
            <div class="js-tabs__block">2-block</div>
            <div class="js-tabs__block">3-block</div>
        </section>
        <input type="text" class="phone-mask" placeholder="+7 (___) ___-__-__">
        <div class="js-mouse-parallax" data-speed="50">Параллакс</div>
        <div class="js-btn-effect">
            <span>btn</span>
            <i></i>
        </div>
        <div class="test-drop">
            <div class="js-drop">drop</div>
            <div class="test-drop__text">
                Дроп пахает
            </div>
        </div>
        <a href="content/test.jpg" data-fancybox="test" class="test-fancy">
            <img src="content/test.jpg" alt="">
        </a>
        <div class="js-back-to-top"></div>
    </div>
    <div class="big-text js-anim">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi illo omnis dolorum dolores ipsa excepturi, neque reiciendis natus hic atque.</div>

{% endblock %}