{% extends "layouts/_default.njk" %}
{# {% set breadCrumbs = [{
name: 'Главная',
link: '#'
}, {
name: 'О компании',
link: '#'
}] %} #}
{% block content %}
<div class="container">

</div>
{% endblock %}