{% from 'mixins/bread-crumbs.njk' import breadCrumbsMixin with context %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <link rel="shortcut icon" href="">
</head>
<body>
    <div class="preloader-page">
        <span>Загрузка...</span>
    </div>
    <div id="anchor-wrapper" class="wrapper">
        {% include 'includes/header.njk' %}
        {{ breadCrumbsMixin(breadCrumbs, breadBackButton) }}
        <main class="page">
            {% block content %}{% endblock %}
        </main>
        {% include 'includes/footer.njk' %}
    </div>
    {% include 'includes/popups.njk' %}
    <script>
        let ua = window.navigator.userAgent;
        function isIE() {
            ua = navigator.userAgent;
            const isIe = ua.indexOf('MSIE ') > -1 || ua.indexOf('Trident/') > -1;
            return isIe;
        }
        if (isIE()) {
            document.documentElement.classList.add('internet-explorer');
        }
    </script>
</body>
</html>